.container{
  @apply  bg-black relative py-[5.5rem] ;
}

.blog__big{
  @apply w-2/3 p-[15px] h-[450px] relative 1000:w-full
}
.blog__small{
  @apply w-1/3 p-[15px] h-[450px] relative 1000:w-full
}

.blog__text{
  @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 z-[1] w-full h-full flex items-center justify-center text-white;
  backdrop-filter: blur(3px);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.blog__text:hover{
  color: transparent;
  backdrop-filter: blur(0px);
  transition: all 0.5s ease-in-out;

}


.blog__img{
  @apply block h-full w-full rounded-lg object-cover object-center grayscale
}
