
.slider::before,
.slider::after {
  content: "";
  height: 15rem;
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
}


  .slider::before {
    background: #000000;
    background: -moz-linear-gradient(
      0deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    background: linear-gradient(
      0deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    top: -10px;
  }

  .slider::after {
    background: #000000;
    background: -moz-linear-gradient(
      180deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    background: linear-gradient(
      180deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    bottom: 0;
  }
