

@keyframes flip {
  0% {
        opacity: 0;
 	transform: rotateY(180deg);
  }
  10% {
        opacity: 1;
    transform: rotateY(0);
  }
  90% {
        opacity: 1;
    transform: rotateY(0);
  }
  100% {
        opacity: 0;
    transform: rotateY(180deg);;
  }
}


.fade{
  animation: infinite fade 10s  ease-in-out; 
  box-sizing:border-box;
  margin: 10px 0 0 5px;
}



